{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>{{ msg }}!</p>
<p style="text-align:center;"><span style="background-color:rgb(255,255,255);color:rgb(21,21,21);font-family:Gotham, sans-serif;font-size:18px;"><span style="-webkit-text-stroke-width:0px;display:inline !important;float:none;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:center;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;"><strong>The Catholic Church welcomes people of all ages, backgrounds, and walks of life – anyone who has a desire to learn about and enter into a life of faith in Jesus Christ can become a Catholic. The process of becoming a Catholic is a journey of faith and conversion. It is a time to learn about the teachings of the Church, to grow in one’s relationship with God, and to make a commitment to live a Christian life.</strong></span></span></p>
{% endblock %}